.bg-lemon {
  background-image: url('./images/bg_lemon.png');
  background-size: cover;
  background-position: center;
}

.bg-fire {
  background-image: url('./images/bg_fire.png');
  background-size: cover;
  background-position: center;
}
